.sidebar {
  font-size: 15px;
  background-color: #fff;
  width: 20rem;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: 84px;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border-right: 1px solid #eaecef;
  overflow-y: auto;

  .sidebar-links {
    padding: 1.5rem 0;

    li {
      padding-left: 2rem;
      a {
        color: $black !important;
      }
    }
  }

  ul {
    list-style-type: none;
  }
}
