// Variables
$white: #FFFFFF;
$grey: #8D8B84;
$grey-light: #F5F6FA;
$black: #3D4047;
$body: #A0A5B9;
$primary: #713bdb;
$green: #3bdb71;
$orange: #db713b;

$table-sticky-header-height: 800px;
$table-color: $white;
$table-background-color: $white;
$table-row-hover-background-color: $grey-light;
$table-sticky-header-height: 480px;
