// Variables
$dark: #212529;
$dark-mild: #2A2E32;
$dark-nav: #1E2225;
$white: #FFFFFF;
$blue: #4d4dff;
$red: #FF4839;
$green: #01B075;
$grey: #4E5358;
$grey-body: #BEBDBE;
$divider-background-color: $grey;
$primary: #FD413C;
$loading-background: #212529;
$yellow: #FEBC2C;

$table-sticky-header-height: 800px;
