// Bulma
@import "~bulma/sass/utilities/_all";

// Variables
$dark: #16171B;
$dark-mild: #202125;
$dark-nav: #1E2225;
$white: #FFFFFF;
$blue: #4d4dff;
$red: #FF4839;
$green: #01B075;
$grey: #606165;
$grey-body: #939498;
$divider-background-color: $grey;
$primary: #01B075;
$loading-background: #16171B;

@import "~bulma-divider";

// Styles
html,body, .footer {
  background-color: $dark;
  color: $grey-body;
}

.footer {
  padding: 2em;
}

.navbar {
  min-height: 5.25rem;
  &.is-dark {
    background-color: $dark-nav;
    box-shadow: none;
  }

  .navbar-brand {
    font-weight: 700;
    margin-left: 0 !important;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
    }

    .navbar-item {
      color: $green !important;
      padding: 1em;
      font-size: 1.5em;

      &:hover, &:focus, &:active {
        background-color: transparent !important;
      }
    }

  }

  .navbar-menu {
    @media (max-width: 1023px) {
      background-color: $dark-nav;
    }

    .navbar-item {
      color: $white;
    }
  }

  .navbar-item {
    padding: 1em;
    font-size: 1.1em;
    transition: 0.5s;

    &:hover {
      background-color: transparent !important;
      color: $green !important;
    }
  }
}

.card {
  background-color: $dark-mild;
  color: $white;
  box-shadow: none;
  border-radius: 10px;

  &.is-news {
    margin-bottom: 2em;
  }

  .card-title {
    font-size: 1.2em;
    color: $grey;
  }

  .card-content {
    color: $white;
    padding: 2em;
  }

  .content {
    h1 {
      color: $white;
      &:not(:first-child) {
        margin-top: 14px;
      }
    }
  }

  &.is-horizontal {
    flex-direction: row;
    display: flex;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;

    .card-image {
      flex: 2;
      flex-shrink: 2;

      .image {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;

        @media(max-width: 767px) {
          height: 120px;
          top: 2.5em;
        }

        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .card-content {
      flex: 3;
	    flex-shrink: 3;
    }
  }
}

.content {

  h1, h2, h3, h4 {
    color: $white;
  }

  &.has-text-grey {
    h1, h3, h4 {
      color: $grey !important;
    }
  }

  ul {
    margin-left: 0;
    list-style: none;
  }
}

.input {
  box-shadow: none;
  border-color: $dark-mild;

  &:focus {
    border-color: $blue;
    box-shadow: none;
  }
}

.is-divider-vertical {
  margin: 1rem 0;

  &:before {
    @media (min-width: 769px) {
      border-left: .1rem solid $grey;
    }
  }

  @media (max-width: 767px) {
    border-top: .1rem solid $grey;
  }
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h1 {
    margin-top: 14px;
  }
}

.mdi-48px.mdi:before {
  font-size: 58px;
}

.b-table {
  .table {
    background-color: $dark-mild;
    thead {
      th {
        color: $grey;
        border: 1px solid $grey;
        border-width: 0 0 1px;
      }
    }
    tbody {
      td {
        color: $white;
        font-size: 1.2em;
        border: 1px solid $grey;
        border-width: 0 0 1px;
      }
    }
  }
}

.b-table .table-wrapper.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td {
  @media (max-width: 768px) {
    border-bottom: 1px solid $grey;
  }
}

.pagination-previous, .pagination-next, .pagination-link {
  border-color: $green;
  background-color: $green;
  color: $white;

  &:hover, &:focus {
    border-color: $green;
    background-color: $green;
    color: $white;
  }
}

.pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled] {
  border-color: $grey;
  color: $grey;
}

.button {
  &.is-primary {
    background-color: $primary;

    &:focus, &:active, &:hover {
      background-color: $primary !important;
    }
  }
}

.input, .select select {
  &:focus {
    border-color: $primary;
  }
}

.switch input[type=checkbox]:checked + .check {
  background: $primary;
  &:hover {
    background: darken($primary, 10%);
  }
}

.news-title {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  a {
    color: $white;

    &:hover, &:focus {
      color: $primary;
    }
  }
}

.news-link {
  &:hover, &:focus {
    color: $primary !important;
  }
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: $dark-mild !important;
  color: $white !important;
}

.leaflet-container a.leaflet-popup-close-button {
  padding: 10px 20px 0px 0 !important;
}

.leaflet-popup-content {
  table {
    td {
      font-size: 16px !important;
      border: 1px solid #606165;
      border-width: 0 0 1px;
    }
  }
}

// Helpers
.has-text-white {
  color: $white !important;
}

.has-text-blue {
  color: $blue !important;
}

.has-text-red {
  color: $red !important;
}

.has-text-grey {
  color: $grey !important;
}

.has-text-green {
  color: $green !important;
}

.has-text-body {
  color: $grey-body !important;
}

.is-spacer {
  margin-bottom: 4em;
}

.is-spacer-sm {
  margin-bottom: 2em;
}

.has-padding-lg {
  padding: 2.4em;
}

.has-bg-green {
  background-color: $green !important;
  color: $white !important;
}

.has-bg-red {
  background-color: $red !important;
  color: $white !important;
}
